@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(london.jpg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    color: red;
    position: absolute;
    top: 42%;
    left: 42%;
    font-family: 'Redressed', cursive;
    background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.0px );
-webkit-backdrop-filter: blur( 2.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container h1{
    position: relative;
    left: 0%;
    font-size: 30px;
    margin-bottom: 23px;
    padding: 10px 0;
    border-bottom: 2px solid rgba(255, 3, 3, 0.534);
}

.box{
    width: 100%;
    border-bottom: 1px solid rgba( 255, 105, 180, 0.5 );
    margin: 8px 0px;
}

.box input{
    background: none;
    color: greenyellow;
    width: 80%;
    padding: 7px 5px;
    font-size: 20px;
    border: none;
    outline: none;
}

.box i{
    width: 25px;
    text-align: center;
    padding: 0px 7px;
}

.box ::placeholder{
    color:hotpink
}

.btn{
    color: white;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid palevioletred;
    position: absolute;
    left: 36%;
    background: none;
    font-weight: bold;
}

.btn:hover{
    color: pink;
    cursor: pointer;
    background: white;
    opacity: 0.8;
}